Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

In [1]:
Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala

SyntaxError: invalid syntax (3018236563.py, line 1)

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-Learn

Data Science Tools
| Outil                | Description                            |
|----------------------|----------------------------------------|
| Jupyter Notebooks    | Environnement interactif pour le code   |
| RStudio              | IDE pour le langage R                  |
| Git                  | Système de gestion de version          |
| GitHub               | Plateforme de collaboration Git        |
| VSCode               | Éditeur de code avec prise en charge Jupyter |

Below are a few examples of evaluating arithmetic expressions in Python

Voici quelques exemples d'expressions arithmétiques:

- \(2 + 3 \times 4\)
- \(\frac{8}{2} - 1\)
- \(3^2 + 5\)

In [2]:
# This a simple arithmetic expression to mutiply then add integers


res = (3 * 4) +5
print("Résultat de la multiplication et l addition:", res)

Résultat de la multiplication et l addition: 17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 minutes
heures = minutes / 60
print(minutes, "minutes équivalent à", heures, "heures.")

SyntaxError: invalid syntax (1111657252.py, line 2)

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 
heures = minutes / 60
print(minutes, "minutes équivalent à", heures, "heures.")

200 minutes équivalent à 3.3333333333333335 heures.

# Objectives:
unordered list:
1. Explorer les langages de programmation utilisés en science des données.
2. Découvrir les bibliothèques populaires pour l'analyse de données.
3. Comprendre l'utilisation d'outils tels que Jupyter Notebooks et RStudio.

## Author
Zbiri Salah Eddine